# Pulizia dei Dati
In questa sezione, caricheremo il dataset e lo puliremo per prepararlo all'analisi.

In [22]:
import pandas as pd
import numpy as np
# Carica il dataset
df = pd.read_csv('ai_vs_human_dataset_medium.csv')

# Visualizza le prime righe del dataframe
df.head()

,id,label,topic,text,length_chars,length_words,quality_score,sentiment,source_detail,timestamp,plagiarism_score,notes
0,305,human,food,"As someone who follows food, I believe privacy...",126,22,2.37,0.44,author_50,2023-12-19 11:21:46,0.045,personal_tone
1,341,ai,travel,Analysis indicates that travel is associated w...,141,19,3.44,0.60,gpt-5-base,2024-04-01 17:43:26,0.007,NaN
2,48,human,education,I recently experienced education in my day-to-...,112,17,3.16,-0.43,author_33,2025-08-28 07:56:09,0.163,personal_tone
3,68,ai,sports,Analysis indicates that sports is associated w...,101,14,3.32,0.44,claude-2,2023-10-23 14:34:48,0.122,NaN
4,480,human,finance,"In my experience, finance often leads to users...",78,14,3.52,-0.31,author_87,2024-11-28 11:31:37,0.105,NaN

In [23]:
# Controlla i valori mancanti
df.isnull().sum()

id                    0
label                 0
topic                 0
text                  0
length_chars          0
length_words          0
quality_score         0
sentiment             0
source_detail         0
timestamp             0
plagiarism_score      0
notes               343
dtype: int64

In [24]:
# Visualizza le informazioni sul dataframe pulito
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                500 non-null    int64
 1   label             500 non-null    object
 2   topic             500 non-null    object
 3   text              500 non-null    object
 4   length_chars      500 non-null    int64
 5   length_words      500 non-null    int64
 6   quality_score     500 non-null    float64
 7   sentiment         500 non-null    float64
 8   source_detail     500 non-null    object
 9   timestamp         500 non-null    object
 10  plagiarism_score  500 non-null    float64
 11  notes             157 non-null    object
dtypes: float64(3), int64(3), object(6)
memory usage: 47.0+ KB

In [25]:
# Rimuovi i duplicati
df.drop_duplicates(inplace=True)
print(f"Numero di righe dopo la rimozione dei duplicati: {len(df)}")

Numero di righe dopo la rimozione dei duplicati: 500

In [26]:
# Visualizza le informazioni sul dataframe dopo la rimozione dei duplicati
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                500 non-null    int64
 1   label             500 non-null    object
 2   topic             500 non-null    object
 3   text              500 non-null    object
 4   length_chars      500 non-null    int64
 5   length_words      500 non-null    int64
 6   quality_score     500 non-null    float64
 7   sentiment         500 non-null    float64
 8   source_detail     500 non-null    object
 9   timestamp         500 non-null    object
 10  plagiarism_score  500 non-null    float64
 11  notes             157 non-null    object
dtypes: float64(3), int64(3), object(6)
memory usage: 47.0+ KB

In [27]:
# gestisci i valori mancanti nella colonna notes
df['notes'] = df['notes'].fillna('Nessuna nota')

In [28]:
# Visualizza le informazioni sul dataframe dopo la gestione dei valori mancanti
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                500 non-null    int64
 1   label             500 non-null    object
 2   topic             500 non-null    object
 3   text              500 non-null    object
 4   length_chars      500 non-null    int64
 5   length_words      500 non-null    int64
 6   quality_score     500 non-null    float64
 7   sentiment         500 non-null    float64
 8   source_detail     500 non-null    object
 9   timestamp         500 non-null    object
 10  plagiarism_score  500 non-null    float64
 11  notes             500 non-null    object
dtypes: float64(3), int64(3), object(6)
memory usage: 47.0+ KB

In [29]:
# Rimuovi colonne non necessarie
df.drop(columns=['id', 'notes', 'timestamp', 'source_detail'], inplace=True)
df.head()

,label,topic,text,length_chars,length_words,quality_score,sentiment,plagiarism_score
0,human,food,"As someone who follows food, I believe privacy...",126,22,2.37,0.44,0.045
1,ai,travel,Analysis indicates that travel is associated w...,141,19,3.44,0.60,0.007
2,human,education,I recently experienced education in my day-to-...,112,17,3.16,-0.43,0.163
3,ai,sports,Analysis indicates that sports is associated w...,101,14,3.32,0.44,0.122
4,human,finance,"In my experience, finance often leads to users...",78,14,3.52,-0.31,0.105

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   label             500 non-null    object
 1   topic             500 non-null    object
 2   text              500 non-null    object
 3   length_chars      500 non-null    int64
 4   length_words      500 non-null    int64
 5   quality_score     500 non-null    float64
 6   sentiment         500 non-null    float64
 7   plagiarism_score  500 non-null    float64
dtypes: float64(3), int64(2), object(3)
memory usage: 31.4+ KB

In [31]:
""" # Rimozione outlier per 'length_chars'
print(f"Numero di righe prima della rimozione degli outlier: {len(df)}")
Q1_chars = df['length_chars'].quantile(0.25)
Q3_chars = df['length_chars'].quantile(0.75)
IQR_chars = Q3_chars - Q1_chars
lower_bound_chars = Q1_chars - 1.5 * IQR_chars
upper_bound_chars = Q3_chars + 1.5 * IQR_chars
df = df[(df['length_chars'] >= lower_bound_chars) & (df['length_chars'] <= upper_bound_chars)]
print(f"Numero di righe dopo la rimozione degli outlier da 'length_chars': {len(df)}")

# Rimozione outlier per 'length_words'
Q1_words = df['length_words'].quantile(0.25)
Q3_words = df['length_words'].quantile(0.75)
IQR_words = Q3_words - Q1_words
lower_bound_words = Q1_words - 1.5 * IQR_words
upper_bound_words = Q3_words + 1.5 * IQR_words
df = df[(df['length_words'] >= lower_bound_words) & (df['length_words'] <= upper_bound_words)]
print(f"Numero di righe dopo la rimozione degli outlier da 'length_words': {len(df)}") """

' # Rimozione outlier per \'length_chars\'\nprint(f"Numero di righe prima della rimozione degli outlier: {len(df)}")\nQ1_chars = df[\'length_chars\'].quantile(0.25)\nQ3_chars = df[\'length_chars\'].quantile(0.75)\nIQR_chars = Q3_chars - Q1_chars\nlower_bound_chars = Q1_chars - 1.5 * IQR_chars\nupper_bound_chars = Q3_chars + 1.5 * IQR_chars\ndf = df[(df[\'length_chars\'] >= lower_bound_chars) & (df[\'length_chars\'] <= upper_bound_chars)]\nprint(f"Numero di righe dopo la rimozione degli outlier da \'length_chars\': {len(df)}")\n\n# Rimozione outlier per \'length_words\'\nQ1_words = df[\'length_words\'].quantile(0.25)\nQ3_words = df[\'length_words\'].quantile(0.75)\nIQR_words = Q3_words - Q1_words\nlower_bound_words = Q1_words - 1.5 * IQR_words\nupper_bound_words = Q3_words + 1.5 * IQR_words\ndf = df[(df[\'length_words\'] >= lower_bound_words) & (df[\'length_words\'] <= upper_bound_words)]\nprint(f"Numero di righe dopo la rimozione degli outlier da \'length_words\': {len(df)}") '

# Pre-elaborazione del Test

In [32]:
import warnings
import nltk
import string
from nltk.corpus import stopwords

# Scarica la lista delle stop words (solo la prima volta)
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\compu\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [33]:
# Definisci la funzione per pulire il testo
def clean_text(text):
    # 1. Converti in minuscolo
    text = text.lower()
    # 2. Rimuovi la punteggiatura
    text = ''.join([char for char in text if char not in string.punctuation])
    # 3. Rimuovi le stop words
    stop_words = set(stopwords.words('english'))
    words = text.split()
    words = [word for word in words if word not in stop_words]
    return ' '.join(words)

In [34]:
# Applica la funzione alla colonna 'text' per creare 'cleaned_text'
df['cleaned_text'] = df['text'].apply(clean_text)

# Visualizza le prime righe con la nuova colonna
df[['text', 'cleaned_text']].head()

,text,cleaned_text
0,"As someone who follows food, I believe privacy...",someone follows food believe privacy concerns ...
1,Analysis indicates that travel is associated w...,analysis indicates travel associated privacy c...
2,I recently experienced education in my day-to-...,recently experienced education daytoday life f...
3,Analysis indicates that sports is associated w...,analysis indicates sports associated costs var...
4,"In my experience, finance often leads to users...",experience finance often leads users report mi...

In [46]:
# Salva il dataset in un csv pulito
df.to_csv('ai_vs_human_dataset_cleaned.csv', index=False)

print("DataFrame pulito salvato con successo in 'ai_vs_human_dataset_cleaned.csv'")

DataFrame pulito salvato con successo in 'ai_vs_human_dataset_cleaned.csv'