In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#from sklearn.datasets import ai_vs_human_dataset_

In [9]:
import seaborn as sns

In [10]:
df = pd.read_csv("ai_vs_human_dataset_medium.csv")

In [11]:
df.info()
df.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                500 non-null    int64
 1   label             500 non-null    object
 2   topic             500 non-null    object
 3   text              500 non-null    object
 4   length_chars      500 non-null    int64
 5   length_words      500 non-null    int64
 6   quality_score     500 non-null    float64
 7   sentiment         500 non-null    float64
 8   source_detail     500 non-null    object
 9   timestamp         500 non-null    object
 10  plagiarism_score  500 non-null    float64
 11  notes             157 non-null    object
dtypes: float64(3), int64(3), object(6)
memory usage: 47.0+ KB

,id,label,topic,text,length_chars,length_words,quality_score,sentiment,source_detail,timestamp,plagiarism_score,notes
count,500.000000,500,500,500,500.000000,500.00000,500.000000,500.000000,500,500,500.000000,157
unique,NaN,2,10,459,NaN,NaN,NaN,NaN,95,500,NaN,1
top,NaN,ai,food,Analysis indicates that food is associated wit...,NaN,NaN,NaN,NaN,claude-2,2023-12-19 11:21:46,NaN,personal_tone
freq,NaN,251,56,3,NaN,NaN,NaN,NaN,61,1,NaN,157
mean,250.500000,NaN,NaN,NaN,115.152000,16.79800,3.502340,0.161240,NaN,NaN,0.124510,NaN
std,144.481833,NaN,NaN,NaN,39.208973,5.83449,0.900641,0.416834,NaN,NaN,0.095412,NaN
min,1.000000,NaN,NaN,NaN,65.000000,9.00000,1.500000,-0.590000,NaN,NaN,0.000000,NaN
25%,125.750000,NaN,NaN,NaN,87.000000,13.00000,2.847500,-0.170000,NaN,NaN,0.050000,NaN
50%,250.500000,NaN,NaN,NaN,103.000000,14.00000,3.540000,0.190000,NaN,NaN,0.104500,NaN
75%,375.250000,NaN,NaN,NaN,133.250000,20.00000,4.240000,0.490000,NaN,NaN,0.171500,NaN
max,500.000000,NaN,NaN,NaN,280.000000,41.00000,5.000000,0.900000,NaN,NaN,0.349000,NaN

In [12]:
print("--- DESCRIZIONE STATISTICA ---")
print(df.describe())

--- DESCRIZIONE STATISTICA ---
               id  length_chars  length_words  quality_score   sentiment  \
count  500.000000    500.000000     500.00000     500.000000  500.000000
mean   250.500000    115.152000      16.79800       3.502340    0.161240
std    144.481833     39.208973       5.83449       0.900641    0.416834
min      1.000000     65.000000       9.00000       1.500000   -0.590000
25%    125.750000     87.000000      13.00000       2.847500   -0.170000
50%    250.500000    103.000000      14.00000       3.540000    0.190000
75%    375.250000    133.250000      20.00000       4.240000    0.490000
max    500.000000    280.000000      41.00000       5.000000    0.900000

       plagiarism_score
count        500.000000
mean           0.124510
std            0.095412
min            0.000000
25%            0.050000
50%            0.104500
75%            0.171500
max            0.349000

# Contare i nulli per ogni colonna

In [ ]:
df.isnull().sum()

id                    0
label                 0
topic                 0
text                  0
length_chars          0
length_words          0
quality_score         0
sentiment             0
source_detail         0
timestamp             0
plagiarism_score      0
notes               343
dtype: int64

#Rimozione duplicati

In [15]:
print("Duplicati presenti:", df.duplicated().sum())

df = df.drop_duplicates()

print("Duplicati dopo pulizia:", df.duplicated().sum())

Duplicati presenti: 0
Duplicati dopo pulizia: 0

In [ ]:
# Colonne numeriche e categoriche
num_cols = df.select_dtypes(include=np.number).columns
cat_cols = df.select_dtypes(exclude=np.number).columns

# Riempimento numeriche
for col in num_cols:
    df[col].fillna(df[col].median(), inplace=True)

# Riempimento categoriche
for col in cat_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

Pulizia stringhe

In [21]:
for col in cat_cols:
    df[col] = df[col].str.strip().str.lower()
    
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 451 entries, 0 to 499
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                451 non-null    int64
 1   label             451 non-null    object
 2   topic             451 non-null    object
 3   text              451 non-null    object
 4   length_chars      451 non-null    int64
 5   length_words      451 non-null    int64
 6   quality_score     451 non-null    float64
 7   sentiment         451 non-null    float64
 8   source_detail     451 non-null    object
 9   timestamp         451 non-null    object
 10  plagiarism_score  451 non-null    float64
 11  notes             451 non-null    object
dtypes: float64(3), int64(3), object(6)
memory usage: 45.8+ KB

Outlier

In [22]:
for col in num_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    df = df[(df[col] >= lower) & (df[col] <= upper)]
    
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 440 entries, 0 to 499
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                440 non-null    int64
 1   label             440 non-null    object
 2   topic             440 non-null    object
 3   text              440 non-null    object
 4   length_chars      440 non-null    int64
 5   length_words      440 non-null    int64
 6   quality_score     440 non-null    float64
 7   sentiment         440 non-null    float64
 8   source_detail     440 non-null    object
 9   timestamp         440 non-null    object
 10  plagiarism_score  440 non-null    float64
 11  notes             440 non-null    object
dtypes: float64(3), int64(3), object(6)
memory usage: 44.7+ KB

In [20]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 451 entries, 0 to 499
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                451 non-null    int64
 1   label             451 non-null    object
 2   topic             451 non-null    object
 3   text              451 non-null    object
 4   length_chars      451 non-null    int64
 5   length_words      451 non-null    int64
 6   quality_score     451 non-null    float64
 7   sentiment         451 non-null    float64
 8   source_detail     451 non-null    object
 9   timestamp         451 non-null    object
 10  plagiarism_score  451 non-null    float64
 11  notes             451 non-null    object
dtypes: float64(3), int64(3), object(6)
memory usage: 45.8+ KB

,id,length_chars,length_words,quality_score,sentiment,plagiarism_score
count,451.000000,451.000000,451.000000,451.000000,451.000000,451.000000
mean,251.011086,106.104213,15.434590,3.497029,0.167805,0.120931
std,144.107066,25.373832,3.756127,0.881667,0.411825,0.092213
min,1.000000,65.000000,9.000000,1.500000,-0.590000,0.000000
25%,125.500000,86.000000,13.000000,2.860000,-0.160000,0.050500
50%,254.000000,99.000000,14.000000,3.530000,0.200000,0.101000
75%,375.000000,125.500000,18.000000,4.195000,0.490000,0.162000
max,500.000000,194.000000,25.000000,5.000000,0.900000,0.341000

In [ ]:
df.to_csv("ai_vs_human_dataset_medium_clean.csv", index=False)

Pulizia caratteri sporchi

In [23]:
import re

def clean_text(text):
    if pd.isna(text):
        return ""

    text = text.lower()

    # rimuove HTML
    text = re.sub(r"<.*?>", " ", text)

    # rimuove URL
    text = re.sub(r"http\S+|www\S+", " ", text)

    # rimuove emoji
    text = re.sub(
        "["
        "\U0001F600-\U0001F64F"
        "\U0001F300-\U0001F5FF"
        "\U0001F680-\U0001F6FF"
        "\U0001F1E0-\U0001F1FF"
        "]+",
        " ",
        text
    )

    # rimuove caratteri non alfabetici
    text = re.sub(r"[^a-zàèéìòù\s]", " ", text)

    # rimuove ripetizioni (es. aaaaa)
    text = re.sub(r"(.)\1{3,}", r"\1", text)

    # normalizza spazi
    text = re.sub(r"\s+", " ", text).strip()

    return text

In [24]:
df["clean_text"] = df["text"].apply(clean_text)

df[["text", "clean_text"]].head()

,text,clean_text
0,"as someone who follows food, i believe privacy...",as someone who follows food i believe privacy ...
1,analysis indicates that travel is associated w...,analysis indicates that travel is associated w...
2,i recently experienced education in my day-to-...,i recently experienced education in my day to ...
3,analysis indicates that sports is associated w...,analysis indicates that sports is associated w...
4,"in my experience, finance often leads to users...",in my experience finance often leads to users ...

Rimozione testi vuoti o inutili

In [25]:
df = df[df["clean_text"].str.len() > 5]

In [ ]:
#lunghezza testo

df["text_len"] = df["clean_text"].str.len()

max_len = df["text_len"].quantile(0.99)

df = df[(df["text_len"] >= 5) & (df["text_len"] <= max_len)]

In [ ]:
#Numero parole

df["word_count"] = df["clean_text"].str.split().str.len()

df = df[(df["word_count"] >= 2) & (df["word_count"] <= df["word_count"].quantile(0.99))]

In [28]:
#Rimozione colonne tecniche
df.drop(columns=["text_len", "word_count"], inplace=True)

In [29]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 433 entries, 0 to 499
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                433 non-null    int64
 1   label             433 non-null    object
 2   topic             433 non-null    object
 3   text              433 non-null    object
 4   length_chars      433 non-null    int64
 5   length_words      433 non-null    int64
 6   quality_score     433 non-null    float64
 7   sentiment         433 non-null    float64
 8   source_detail     433 non-null    object
 9   timestamp         433 non-null    object
 10  plagiarism_score  433 non-null    float64
 11  notes             433 non-null    object
 12  clean_text        433 non-null    object
dtypes: float64(3), int64(3), object(7)
memory usage: 47.4+ KB

,id,label,topic,text,length_chars,length_words,quality_score,sentiment,source_detail,timestamp,plagiarism_score,notes,clean_text
0,305,human,food,"as someone who follows food, i believe privacy...",126,22,2.37,0.44,author_50,2023-12-19 11:21:46,0.045,personal_tone,as someone who follows food i believe privacy ...
1,341,ai,travel,analysis indicates that travel is associated w...,141,19,3.44,0.60,gpt-5-base,2024-04-01 17:43:26,0.007,personal_tone,analysis indicates that travel is associated w...
2,48,human,education,i recently experienced education in my day-to-...,112,17,3.16,-0.43,author_33,2025-08-28 07:56:09,0.163,personal_tone,i recently experienced education in my day to ...
3,68,ai,sports,analysis indicates that sports is associated w...,101,14,3.32,0.44,claude-2,2023-10-23 14:34:48,0.122,personal_tone,analysis indicates that sports is associated w...
4,480,human,finance,"in my experience, finance often leads to users...",78,14,3.52,-0.31,author_87,2024-11-28 11:31:37,0.105,personal_tone,in my experience finance often leads to users ...